.true{
    display: flex;
    background-color: rgb(18, 18, 92);
    height: 96px;
}
.logo{
    margin-left: 10px;
}
.logo img{
    width: 51px;
    height: 85px;
    background-color: rgb(18, 18, 92);
    color: #da910b;

}
.logo1 h1{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-left: 6px;
    line-height: 40px;
    margin-bottom: -5px;
    color: aliceblue;
}
.logo1 h2{
 display: flex;
    gap: 10px;
    list-style: none;
    margin-left: 113px;
    line-height: 19px;
    margin-top: -25px;
    color: #da910b;
}
.logo1 p{
    list-style: none;
    margin-left: 10px;
    line-height: 8px;
    font-size: 16px;
    color: aliceblue;
    display: flex;
     margin-top: -11px;
}
.about1 {
    width: 90%;
    margin: 81px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.about1 ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin-left: 314px;
    line-height: 42px;
    margin-top: -43px;
    margin-right: -17px;
    font-size: 28px;
}
.about1 li a{
    color: white;
    text-decoration: none;
}
.login h2{
    display: flex;
    gap: 60px;
    margin-left: 225px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
}
.login i{
    margin-left: -145px;
    border-color: white;
    margin-top: 37px;
    color: #da910b;
}
.login a{
    text-decoration: none;
    color: white;
   margin-top: -30px;
   font-size: 20px;
   margin-left: -347px;
}
.sign1{
    background-color: #da910b;
    width: 160px;
    border-color: #da910b;
    margin-left: -207px;
    border-radius: 10px;
    padding: 13px;
    margin-top: 23px;
}
.sign1 a{
    text-decoration: none;
    color: white;
    text-align: center;
   font-size: 12px;
}


.dream{
    text-decoration: none;
    color: black;
}
.find h1{
    text-decoration: none;
    color: black;
    margin-top: -301px;
    margin-left: 75px;
    line-height: 80px;
    height: 132px;
    font-size: 89px;
    margin-bottom: 34px;
}
.find p{
    text-decoration: none;
    color: black;
    margin-left: 78px;
    font-size: 27px;
}
#dream{
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-image:url("img1.png");
}
.search-box{
    width: 90%;
    background: #fff;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    margin-bottom: 10px;
    margin-left: 20px;
}
.find{
    padding-bottom: 50px;
}
.tabs{
    display: flex;
    gap: 36px;
    border-bottom: 1px solid #eee;
    margin-top: -73px;
    background: white;
    width: 316px;
    padding: 8px;
    margin-left: -24px;
}
.tabs button{
    background: none;
    border: none;
    padding: 12px 0;
    font-size: 15px;
    cursor: pointer;
    background-color: #281e1e12;
    width: 97px;
    margin-left: -25px;
}
.tabs .active{
    background: none;
    border: none;
    padding: 12px 0;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(18 18 92);
    width: 97px;
    margin-left: -0px;
    color: white;
}
.tabs .active1{
    background: none;
    border: none;
    padding: 12px 0;
    font-size: 15px;
    cursor: pointer;
    background-color: #d3cdcd;
    width: 102px;
    margin-left: -25px;
}
.search-form{
    display: grid;
    grid-template-columns: 2fr 2fr 1.5fr 1.5fr 1.2fr;
    gap: 20px;
    align-items: end;
}
.field{
    display:flex;
    flex-direction:column;
}
.field label{
    font-size:13px;
    font-weight:600;
    margin-bottom:8px;
    color:#555;
}
.field input,
.field select{
    height:48px;
    border:1px solid #ddd;
    border-radius:8px;
    padding:0 15px;
    font-size:14px;
    outline:none;
}
.field input:focus,
.field select:focus{
    border-color: rgb(18, 18, 92);
}
.search-btn{
    height:48px;
    border:none;
    border-radius:8px;
    background: rgb(18, 18, 92);
    color:#fff;
    font-size:15px;
    cursor:pointer;
    transition:.3s;
}
.search-btn:hover{
    background: rgb(18, 18, 92);
}
.featured-header{
    width:90%;
    justify-content:space-between;
    text-align:center;
    margin: 18px 0px 30px 80px;
}
@media(max-width:992px){
    .search-form{
        grid-template-columns:1fr;
    }
}
.left h2{
    font-size:53px;
    font-weight:700;
    text-align: center;
    display: flex;
    margin-left: 641px;
    margin-top: -29px;
}
.left p{
    color: #ffa500fa;
    font-size: 24px;
    text-align: center;
    display: flex;
   margin-left: 731px;
   margin-top: 34px;
}
@media(max-width:768px){

    .featured-header{
        flex-direction:column;
        align-items:flex-start;
        gap:20px;
    }
}
.property-grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 18px;
    margin-right: 112px;
    margin-left: 25px;
    height: 458px;
}
.property-card{
    background:#fff;
    border:4px solid #a1a5ad61;;
    border-radius:12px;
    overflow:hidden;
    transition:0.3s;
}
.property-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}
.image-box{
    position:relative;
    overflow:hidden;
}
.image-box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 401px;
    object-fit: cover;
    transition: .4s;
}
.property-card:hover img{
    transform:scale(1.05);
}
.tag{
    color: #da910b;
    text-align: center;
}
.content{
    height: 10px;
}
.content h2{
font-size: 20px;
    height: 6px;
}
    .content p{
        font-size: 27px;
    margin-top: -8px;
}
.content h3{
    font-size: 18pxpx;
}
.features{
   width: 100%;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: center;
    background-color: rgb(18 18 92);
    height: 149px;
    margin-top: -20px;
}

.feature-box{
    display:flex;
    align-items:flex-start;
    gap:18px;
}

.icones{
    height: 41px;
    border: 2px solid rgb(238, 230, 230);
    border-radius: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: rgb(250, 232, 232);
    margin-bottom: 57px;
    margin-left: 20px;
    margin-top: 32px;
}
.feature-box:hover .icones{
    background:#2563eb;
    color:#fff;
}

.text h3{
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-bottom: 8px;
}

.text p{
    font-size: 16px;
    color: white;
    line-height: 1.6;
    margin-top: -4px;
}

@media(max-width:992px){
    .features{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:576px){
    .features{
        grid-template-columns:1fr;
    }

    .feature-box{
        align-items:center;
    }
}

.about{
    width:90%;
    margin:80px auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

.about-content{
    flex:1;
}

.sub-title{
    color:#ff6b00;
    letter-spacing:5px;
    font-size:14px;
    font-weight:600;
}

.about-content h2{
    font-size:48px;
    color:#123c69;
    line-height:1.2;
    margin:20px 0;
    font-weight:700;
}

.about-content h4{
    font-size:25px;
    color:#222;
    margin-bottom:25px;
    line-height:1.6;
}

.about-content p{
    font-size:20px;
    color:#555;
    line-height:1.9;
}

.about-images{
    flex:1;
    position:relative;
    height:500px;
}

.about-images img{
    position:absolute;
    object-fit:cover;
    border-radius:30px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    border:5px solid #fff;
}


.img1{
    width: 652px;
    height: 442px;
    bottom:0;
    left:110px;
}

@media(max-width:992px){

.about{
    flex-direction:column;
}

.about-content h2{
    font-size:36px;
}

.about-content h4{
    font-size:20px;
}

.about-content p{
    font-size:17px;
}

.about-images{
    width:100%;
    height:450px;
}

}


body{
    background:#fff;
}

.why-choose{
    width:90%;
    margin:80px auto;
}

.top-content{
    display:flex;
    justify-content:space-between;
    gap:60px;
    margin-bottom:60px;
    margin-bottom: -55px;
    margin-left: 51px;
}

.left-content{
    width:40%;
}

.right-content{
    width:50%;
}

.sub-title{
    color:#ff6b00;
    font-size:14px;
    letter-spacing:4px;
    font-weight:600;
}

.left-content h2{
    font-size:55px;
    color:rgb(18, 18, 92);
    margin-top:20px;
    line-height:1.2;
    font-weight:700;
}

.right-content p{
    font-size:22px;
    line-height:1.8;
    color:#444;
}

.service-box{
    background:#fff5ec;
    border-radius:18px;
    padding:50px;
    display:flex;
    gap:40px;
    align-items:center;
}

.image-box{
    flex:1;
}

.image-box img{
    width:100%;
    border-radius:10px;
    display:block;
        height: 260px;
    object-fit: cover;
    transition: .4s;
}

.service-content{
    flex:1;
    position:relative;
}

.icon{
    width:90px;
    height:90px;
    border:2px solid #00b341;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    color:#00b341;
    margin-bottom:25px;
}

.service-content h3{
    color:#f57c00;
    font-size:42px;
    margin-bottom:20px;
}

.service-content p{
    color:#555;
    font-size:20px;
    line-height:1.8;
}

.buttons{
    position:absolute;
    right:0;
    top:120px;
    display:flex;
    flex-direction:column;
    gap:12px;
}

.buttons button{
    width:55px;
    height:55px;
    border:1px solid #ddd;
    background:#fff;
    cursor:pointer;
    font-size:20px;
    border-radius:6px;
    transition:.3s;
}

.buttons button:hover{
    background:#ff6b00;
    color:#fff;
}

@media(max-width:992px){

.top-content{
    flex-direction:column;
}
}
.left-content,
.right-content{
    width:100%;
}

.left-content h2{
    font-size:40px;
}

.right-content p{
    font-size:18px;
}

.buttons{
    position:static;
    flex-direction:row;
    margin-top:25px;
}

.service-content h3{
    font-size:32px;
}

.service-content p{
    font-size:17px;
}

.contact-section{

    width:100%;
    min-height:100vh;

    background:url("images/contact-bg.jpg") center center/cover no-repeat;

    position:relative;

    display:flex;
    align-items:center;

}

.overlay{

    position:absolute;
    inset:0;

    background:rgba(16,45,86,.65);

}

.container{

    width:90%;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    position:relative;
    z-index:2;

}

.contact-text{

    width:45%;
    color:#fff;

}

.contact-text h1{

    font-size:60px;
    margin-bottom:30px;
    line-height:1.2;

}

.contact-text p{

    font-size:22px;
    line-height:1.8;

}

.contact-form{

    width:48%;

    background:#fff;

    padding:40px;

    border-radius:10px;

}

.contact-form h2{

    color:#ff6f00;
    font-size:40px;

}

.contact-form span{

    color:#ff6f00;
    display:block;
    margin:15px 0 30px;

    font-weight:600;

}

.row{

    display:flex;
    gap:20px;
    margin-bottom:20px;

}

input,
textarea{

    width:100%;

    padding:18px;

    border:none;

    background:#f5f5f5;

    margin-bottom:20px;

    font-size:17px;

}

textarea{

    height:150px;
    resize:none;

}

button{

    background:#ff7700;

    color:#fff;

    border:none;

    padding:18px 35px;

    font-size:15px;

    letter-spacing:2px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#e66a00;

}

@media(max-width:991px){

.container{

    flex-direction:column;
    gap:40px;

}
}
.contact-text,
.contact-form{

    width:100%;

}

.contact-text h1{

    font-size:40px;

}

.contact-text p{

    font-size:18px;

}

.row{

    flex-direction:column;

}


.estate-footer{
    background:#333;
    color:#fff;
    width:100%;
}

.footer-wrapper{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    padding:55px 0;
    gap:35px;
    flex-wrap:wrap;
}

.footer-box{
    flex:1;
    min-width:200px;
}


.brand-logo img{
    width:200px;
    margin-bottom:25px;
}


.company-text{
    color:#f1f1f1;
    font-size:16px;
    line-height:30px;
    margin-bottom:35px;
}



.contact-item{
    display:flex;
    align-items:flex-start;
    gap:15px;
    margin-bottom:28px;
}

.contact-item i{
    font-size:22px;
    color:#fff;
    margin-top:4px;
}

.contact-item span{
    line-height:30px;
    color:#fff;
}



.footer-box h3{
    font-size:24px;
    margin-bottom:30px;
    text-transform:uppercase;
}


.footer-box ul{
    list-style:none;
}

.footer-box ul li{
    border-bottom:1px solid rgba(255,255,255,.15);
    padding:14px 0;
}

.footer-box ul li a{
    color:#fff;
    text-decoration:none;
    font-size:17px;
    transition:.3s;
}

.footer-box ul li a:hover{
    color:#ff9800;
    padding-left:8px;
}


.social-icons{
    display:flex;
    flex-wrap:wrap;
    gap:18px;
}

.social-icons a{
    width:48px;
    height:48px;
    border-radius:50%;
    background:#fff;
    color:#222;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    font-size:20px;
    transition:.3s;
}

.social-icons a:hover{
    background:#ff9800;
    color:#fff;
    transform:translateY(-5px);
}


.copyright-strip{
    background:#222;
    text-align:center;
    color:#fff;
    padding:18px 10px;
    font-size:15px;
    border-top:1px solid rgba(255,255,255,.08);
}



@media(max-width:991px){

.footer-wrapper{
    flex-direction:column;
}

.footer-box{
    width:100%;
}

.social-icons{
    justify-content:flex-start;
}

}

@media(max-width:576px){

.brand-logo img{
    width:170px;
}

.footer-box h3{
    font-size:20px;
}

.company-text{
    font-size:15px;
}

.footer-box ul li a{
    font-size:15px;
}

.social-icons a{
    width:42px;
    height:42px;
    font-size:18px;
}

.copyright-strip{
    font-size:14px;
}

}
